<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="flash-message">

	<div th:if="${success != null}" class="alert alert-success alert-block">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong th:text="${success}">Success</strong>
	</div>

	<div th:if="${error != null}" class="alert alert-danger alert-block">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong th:text="${error}">Error</strong>
	</div>

	<div th:if="${warning != null}" class="alert alert-warning alert-block">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong th:text="${warning}">Error</strong>
	</div>

	<div th:if="${info != null}" class="alert alert-info alert-block">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong th:text="${info}">Error</strong>
	</div>

</th:block>
</body>
</html>